#social {
	display: inline;
}

#mycarousel {
	background: black;
}

.navbar {
	margin-bottom: 0;
}

#navButtons {
	margin: 0;
	padding: 0;
	border: 0;
}

#navButtons:hover {
	box-shadow: 0px 0px 8px white;
	border-radius: 5px;
}

/*.navbar-inverse {
	background: #FF5A00;
}*/

#bgColor {
	background: #777;
}

#mycarousel {
	margin: 0;
}

#profilepic {
	border-radius: 50%;
	border: 3px solid white;
	box-shadow: 0px 0px 8px black;
}

#profilepic:hover {
	box-shadow: 0px 0px 8px blue;
}

.picsMarginBottom {
	margin-bottom: 30px;
}

.picsMarginBottom:hover{
	box-shadow: 0px 0px 8px #e65212;
}

#facebookSideBar {
	height: 800px;
}

#target {
	margin-bottom: 30px;
}

#footer {
	position: relative;
}